language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"
node_js:
  - 10

matrix:
  fast_finish: true
  allow_failures:
    - python: "3.7"

services:
  - redis-server

cache:
  pip: true
  directories:
    - node_modules # NPM Packages

install:
 - pip install -r requirements.txt
 - yarn install
 - yarn run build
script: py.test tests
