Flask>=0.12

# Flask Extensions
Flask-Webpack==0.1
Flask-DebugToolbar==0.10.1
Flask-Script==2.0.5
Flask-Socketio==2.8.4
Flask-Session==0.3.1

# Other
cssmin==0.2.0
jsmin==2.1.1
eventlet==0.19.0
PyYAML==5.1
redis~=2.10

# Testing
pytest==3.3.0
pytest-cov==2.5.1
mccabe==0.5.2
flake8==2.5.4
