<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="/static/css/jeopardy.css" type=text/css" />
        {{ stylesheet_tag('app') | safe }}

        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {{ javascript_tag('app') | safe }}

        {% block js %}
        {% endblock %}
    </body>
</html>
