{% extends "base.html" %}

{% block body %}
    <h1 id="board-name" style="color: white">Home Page</h1>

    <table id="game">
        <thead id="category-headers">
        </thead>
        <tbody id="questions">
        </tbody>
    </table>
    <div id="prompt">
        <h1 id="answer"></h1>
        {% if admin %}
            <p><span id="correct-response"><a
                    href="javascript:void(0)">Correct Response</a> &nbsp;&nbsp;&nbsp;&nbsp; </span><a
                    href="javascript:void(0)" id="continue">Continue</a></p>
        {% endif %}
        <h1 id="question"></h1>
    </div>
{% endblock %}
