{% extends "base.html" %}

{% block body %}
    <h1 id="board-name" style="color: white">&nbsp;</h1>

    <table id="game">
        <thead id="category-headers">
        </thead>
        <tbody id="questions">
        </tbody>
    </table>
    <div id="dailydouble">
        <h1>Daily Double!</h1>
    </div>
    <div id="prompt">
        <h1 id="answer"></h1>
        {% if admin %}
            <p>
                <button type="button" id="correct-response">Correct Response</button>
                <button type="button" id="continue">Continue</button>
            </p>
            <button type="button" id="reopen">Re-open</button>
        {% else %}
            <div id="buzzer-div">
                <button type="button" id="buzzer">Buzzer</button>
                <p>(or press the any key)</p>
            </div>
        {% endif %}
        <h1 id="team_buzzed"></h1>
        <h1 id="question"></h1>
    </div>

    <div id="stats">
        {% for team in teams.values() %}
            <div class="team" data-id="{{ team.id }}" data-exists="{% if team.key %}true{% else %}false{% endif %}">
                <h5 class="name">{% if team.name %}{{ team.name }}{% else %}Team {{ team.id }}{% endif %}</h5>
                {% if team.key %}
                    <span class="score">{{ team.score }}</span>
                {% else %}
                    <span class="score">-</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
