{% extends 'base.html' %}

{% block body %}
    <div style="text-align: center">
        <h1>Choose a team:</h1>
        {% for id, name in teams.items() %}
            <a class="player-choice" href="/play/{{ id }}" data-id="{{ id }}">
                <div class="player-select">
                    {% if name %}
                        <h1>{{ name }}</h1>
                    {% else %}
                        <h1>{{ id }}</h1>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}